.vscode/**
.vscode-test/**
src/**
reference/**
docs/**
.github/**
node_modules/**
*.zip
*.tar
*.vsix
.gitignore
.prettierignore
.prettierrc
.eslintrc*
eslint.config.mjs
tsconfig.json
pnpm-lock.yaml
package-lock.json
.vscode-test.mjs
**/*.map
**/test/**
